html {
   margin: 0px;
   padding: 0px;
   vertical-align: baseline;
}

body {
   margin: 0px;
   padding: 0px 0px 0px 0px;
   vertical-align: baseline;
}

div#navigation {

}

div#navigation a {
   /* color: #333; */
   /* border: none; */
   /* margin: 0px 6px 0px 6px; */
   
}

div#navigation a:hover {
   background: none repeat scroll 0 0 #FFFFFF;
   color: #222222;
}


#TOC {
   display: none;
}

div#content {
   margin: 1em;
   text-align: justify;
   padding: 6rem 6rem 3.4rem;
}

.name {
   font-family: 'Josefin Slab', serif;
   font-weight:400;
   font-size:3em;
   padding-top: 5%;
   line-height: 1.5em;
   color:#0a0a0a;
   text-shadow: 0px 1px 1px #000;
   text-align:center;
}

@media all and (min-width: 833px) {
   div#site-header{
      background-color: #111111;
      float: left;
      height: 100%;
      overflow: hidden;
      padding-top: 6rem;
      padding-bottom: 4rem;
      position: fixed;
      text-align: center;
      width: 240px;
   }
   div#navigation {
      border-top: 1px solid #333333;
      clear: both;
      font-family: 'proxima-nova',sans-serif;
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      margin: 5rem 0;
      overflow: hidden;
      padding: 0;
      width: 100%;
   }

   div#navigation h1, div#navigation a {
      display: block;
      text-align: center;
   }

   div#navigation li{
      border-bottom: 1px solid #333333;
      float: left;
      list-style-type: none;
      width: 100%;
   }

   div#navigation a {
      background: none repeat scroll 0 0 transparent;
      color: #666666;
      display: block;
      padding: 1.2rem;
      text-align: center;
      text-transform: uppercase;
   }

   div#navigation a:hover{
      background: none repeat scroll 0 0 #FFFFFF;
      color: #222222;
    }

   div#content {
      background: #ffffff;
      margin: 0px 0px 0px 240px;
      text-align: justify;
      padding: 24px;
      padding: 2.4rem;
   }

   .name {
      font-family: 'Josefin Slab', Museo, serif;
      font-weight:400;
      font-size:60px;
      line-height:1.2em;
      padding-top: 8%;
      color:#D6EBDA;
      text-shadow: 0px 1px 1px #000;
   }
}